/* การใส่เนื้อหาด้านหน้าใส่ Before หรือด้านหลังใส่ After*/

/* ใส่เนื้อหาหน้า Name */
/* .is-required::before{
    content: "*";
    color: red;
    padding-left: 2px;
} */

body{
    background: url('https://cdn.pixabay.com/photo/2023/07/29/16/42/road-8157300_1280.jpg') no-repeat center center/cover;
    color: #fff;
}
header{
    display: flex;
    flex-direction: column;  /*ให้ flex เรียงกันในแนวตั้ง*/
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
header>h1{
    font-size: 4rem;  /*font-size เป็น 4 เท่าของ root element*/
    margin: 1rem;
}
header::before{
    content: "";  /*ใส่เป็นค่าว่างเพราะไม่ได้แทรก content ตรง header*/
    background: black;
    position: absolute;
    top: 0;  /*ถ้าไม่กำหนด top: 0 จะมี scroll อยู่ด้านข้าง*/
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}