/*
transition-property รูปแบบคุณสมบัติที่การเปลี่ยนแปลงค่า ให้มีการเปลี่ยนที่ไหน
transition-duration ระยะเวลาในการเปลี่ยนแปลงค่า
transition-timing-function รูปแบบฟังก์ชันของการเปลี่ยนแปลงค่า
transition-delay ระยะเวลาที่จะเริ่มต้นเปลี่ยนแปลงค่า ให้รอกี่วิถึงจะเริ่มทำงาน
*/

body{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    background: orange;
    width: 100px;
    height: 100px;
    /* transition-property: background; 
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 5s; */
    transition: background 2s , width 3s ease-in 2s; /*เปลี่ยนสีพื้นหลังใช้เวลา 2s, width คือให้มีการยืดเป็นเวลา 3s หรือจะใช้คำสั่ง all 3s เพื่อกำหนดให้ทุกค่าใช้เวลาเปลี่ยนเท่ากัน*/
}
.box:hover{
    background: red;
    width: 300px;  /*รอ 3s จะยืดขนาดเป็น 300px*/
}