@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Oswald:wght@300&display=swap');

p#massage{
    color: darkgreen;
    font-family: 'EB Garamond', serif;
}

h1.title{
    color: pink;
    font-family: 'Oswald', sans-serif;
}