a{
    background-color: orange;
}
/*กำหนด design tag a ที่มี target*/
a[target]{
    background-color: red;
    color: white;
}
a[target="_blank"]{
    background-color: black;
    color: pink;
}
a[target=""]{
    background-color: forestgreen;
    color: white;
}