/*
translate (x,y) กำหนดตำแหน่ง element
scale (x,y) ขยาย element เป็นกี่เท่า
rotate (องศา deg) กำหนดการหมุนของ element
skewX (องศา deg) กำหนดการเอียงของ element แกน X
skewY (องศา deg) กำหนดการเอียงของ element แกน Y
*/

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    margin: 100px;

    /*ย้ายตำแหน่งกล่องไปแนวนอน 200px แนวตั้ง 300px*/
    transform: translate(200px, 300px);
    transform: rotate(45deg);
    transform: scale(1);
    transform: skewX(10deg);
}