.light{
    color: green;
    background-color: wheat;
}

.dark{
    color: white;
    background-color: black;
}

.darkMode{
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 30px;
    margin: 10px;
}