*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;  /*defualt เป็นแนวนอน*/
    background-color: aqua;
    flex-direction: row;  /*ทิศทางของ item*/
    flex-wrap: wrap;  /*wrap item ที่เกินให้อยู่ใน container, wrap-reverse = เรียงจากล่างขึ้นบน*/
    justify-content: center; /*จัดตำแหน่ง item*/
    align-items: center;  /*ถ้า direction เป็นแนวนอน item จะย้ายในแนวตั้ง ถ้า direction เป็นแนวตั้ง item จะย้ายในแนวนอน*/
}
.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
/*
1. flex-basis การยืดตัวของ item 
2. flex-shrink การหดตัวของ item หดตัวเป็นกี่เท่าของ item ข้างๆ เช่น  2 คือหดตัวเป็น 2 เท่า
2. flex-grow การขยายตัวของ item ขยายตัวเป็นกี่เท่าของ item ข้างๆ เช่น  2 คือหดตัวเป็น 2 เท่า
*/
.item-2{
    flex-basis: 500px;
}

.item-3{
    align-self: center; /*ย้าย direction ของ item*/
}